body{
	background: #F5F5F5;
	margin: 0;
}

footer{
	background: #545350;
	padding: 1em;
}

footer li {
	color: white;
}

footer a {
	color: white;
}

nav li {
	display: inline;

}

nav a {
	color: white;
	margin-right: 1em;
}

nav {
	background: black;
	padding: 1em;
}

main{
	margin: 1em;
}

img{
	display: inline-block;
	cursor: zoom-in;
}

a{
	text-decoration: none;
}

.arrow{
	cursor: pointer;
}

.not_allowed{
	cursor: not-allowed;
}